<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://REPLACE-WITH-DOMAIN.example/</loc></url>
  <url><loc>https://REPLACE-WITH-DOMAIN.example/virtual-piano/</loc></url>
  <url><loc>https://REPLACE-WITH-DOMAIN.example/bpm-finder/</loc></url>
  <url><loc>https://REPLACE-WITH-DOMAIN.example/circle-of-fifths/</loc></url>
  <url><loc>https://REPLACE-WITH-DOMAIN.example/voice-harmonizer/</loc></url>
  <url><loc>https://REPLACE-WITH-DOMAIN.example/about.html</loc></url>
  <url><loc>https://REPLACE-WITH-DOMAIN.example/contact.html</loc></url>
  <url><loc>https://REPLACE-WITH-DOMAIN.example/privacy.html</loc></url>
  <url><loc>https://REPLACE-WITH-DOMAIN.example/terms.html</loc></url>
</urlset>
